<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIDOE</title>
</head>
<header>
    <nav>
        <ul>
            <li>Quem somos</li>
            <li>Objetivos</li>
            <li>Pontos de doação</li>
            <li>Desenvolvedores</li>
            <li>Doar</li>
            <li>Login</li>
        </ul>
    </nav>
</header>
<body>
    <h1>ARRECADAÇÃO DE VESTUÁRIO DOS ALUNOS UNIVESP</h1>
    <p>Os alunos da UNIVESP ajudaram a arrecadar peças de vestuário, obrigado pela sua ajuda</p>
</body>
</html>
